BCC Header should be respected

I'd like to upfront say thanks and great work for abstracting away Net::SMTP, we are moving our code-base to Email::Sender since we had problems with Net::SMTP/MIME::Lite before. We had a nasty bug on our production system after an upgrade that is already handled here [1], so after reviewing Email::Sender we were delighted that this has been taken care of.

Though we have an issue with the documentation [2] pointing out a potential leak of BCC and the note that the header is ignored. While this is certainly an issue, it is only relevant for an MTA [3]. The transport modules SMTP and Sendmail should pass the BCC header untouched, since it is the responsibility of the MTA to handle the header properly.

Net::SMTP will most likely connect to a MTA which will need to implement RFC2821 appendix B [3] (postfix does that according to the smtpd man page [4]) or RFC2822 section 3.6.3 [5] (exim does so according to its man page [6]) correctly. The only case where I see a need to touch the BCC header might be the something like the SQLite transport module.

Regardless, thanks for the work again, we really appreciate the effort poured into this project.

[1] https://github.com/rjbs/Email-Sender/blob/master/lib/Email/Sender/Transport/SMTP.pm#L261-L266
[2] https://github.com/rjbs/Email-Sender/wiki/Bcc
[3] https://tools.ietf.org/html/rfc2821#appendix-B
[4] http://www.postfix.org/smtpd.8.html
[5] https://tools.ietf.org/html/rfc2822#section-3.6.3
[6] https://linux.die.net/man/8/exim

Thank you for pointing this out. I hope the maintainers figure out what this means for them and fix their library.

I don't think there is any fix needed.  Nothing is altering any headers.  The documented note is effectively, "if you don't specify an envelope, we build one from To and Cc, but not Bcc, for reasons."

The user can already specify the exact envelope if they like.